__pycache__/teste.cpython-312.pyc
Connection/__pycache__/oracle_db.cpython-312.pyc
Functions/__pycache__/adicionar.cpython-312.pyc
Functions/__pycache__/deletar.cpython-312.pyc
Functions/__pycache__/editar.cpython-312.pyc
Functions/__pycache__/listar.cpython-312.pyc
Functions/__pycache__/menu.cpython-312.pyc
